<% list.forEach(item => { %>
<div class="service">
  <a href="/best-<%= item.link %>-in-malpura">
    <img src="<%= item.img %>" alt="<%= item.title %>" />
    <h3><%= item.title %></h3></a
  >
</div>
<% }); %>
